body{
    font-family:'Times New Roman', Times, serif;
    color: black;
    background-color: beige;
}

/*div styles*/
.common{
    font-family: 'Times New Roman', Times, serif
    position: absolute;
}
.top{
    top: 0px;
    left: 0px;
    right: 0px;
}
.middle{
    top: 100px;
    left: 0px;
    right: 0px;
}
.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    text-align: center;
    background-color: rgb(121, 162, 121) ;
    font-style: italic;
    font-weight: bold;
}
.imgcenter{
    display: block;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(121, 162, 121);
}
.sidebar-nav{
    background-color: rgb(121, 162, 121);
}
.sidebar-wrapper{
    background-color: rgb(121, 162, 121);
}
.hannahonfilm {
    width: 500px;
}